


.headerContainer{
    display:flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grayish-blue);
}

.leftHeader{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.leftHeader img{
    width:1rem;
    display: none;
}
.logo{
    font-weight: 700;
    font-size: 2rem;
    color:var(  --verydark-blue)
}
.bignavigation ul{
    display: flex;
    gap: 2rem;
}

.bignavigation ul li{
    list-style: none;
   color: var(--dark-grayish-blue);
   border-bottom: 3px solid transparent;
  
}

.bignavigation ul li:hover {
   
    border-bottom: 3px solid var(--orange-prime);
}

.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.cart{
    width:1.2rem;
    cursor: pointer;
}

.avatar{
    width: 2rem;
    cursor: pointer;
}
.numberInCart{
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--orange-prime);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 7px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
}

@media (max-width: 640px) { 

    .leftHeader img{
        display: block;

    }

    nav{
        display:none;
    }

   
    .logo{
        font-size: 2rem;
    }

    .profile{
        gap:1rem
    }

    .cart{
        width:1rem
    }

    .avatar{
        width: 1.5rem;
    }

    .headerContainer{
        padding: 1rem;
        border-bottom: none;
    }

    
 }

 @media (max-width:810px) {
     .leftHeader{
         gap:1rem
     }
    nav ul{
        gap:1rem
    }
 }