.cover{
   
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

.focus{
    width:100%;
    margin: 0 auto;
    margin-top: 2rem;
    z-index:-10;
    overflow: hidden;
}

.focus img{
    width: 100%;
    border-radius: 10px;
    z-index:-10;
    }

.thumbnail{
    width: 100%;
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
}

.nail img{
    width:100%;
    border-radius: 10px;
}

.nail img:hover{
opacity: 50%;
}

.onNailClick{
    border-radius: 1px solid var(--orange-prime);
}

.frontBack{
   
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: none;
    justify-content: space-between;
    position:absolute;
    top: 10rem;
}

.previous{
    background-color: white;
   width: 2rem;
   height: 2rem;
   display: grid;
   place-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.next{
    background-color: white;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-content: center;
     border-radius: 50%;
     cursor: pointer;
}



@media (max-width: 640px) { 
    .cover{
        width: 100%;
        padding: 0;
    }
    .focus{
        width: 100%;
    }
    .thumbnail{
        display: none  ;
       
    }

    .focus img{
        border-radius: 0;
    }
    .frontBack{
        display: flex;
    }
}

@media (max-width: 800px){
    .cover{
        width: 100%;
        padding: 0;
    }

    .focus{
        width: 100%;
    }

    .nail img{
        width: 4rem;
        border-radius: 5px;
    }
}